<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop - Trishastik Bharat Sustainable Farms</title>
    <link rel="icon" href="/images/logo.png" type="image/png">
    <link href="/stylesheet/output.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body class="bg-slate-600"><%- include("./includes/navbar.ejs") %>
   <span class="relative z-10 flex flex-col items-center justify-center h-full text-center text-white"><h1 class="text-4xl md:text-6xl font-bold"><%- include("./includes/flash.ejs") %></h1></span>
    
<section class="py-16 bg-white">
    <div class="container mx-auto text-center">
        <h2 class="text-3xl font-bold mb-8 text-gray-800">MY CART</h2><br>
  
           
            <div class="mt-6 px-8 py-3 bg-green-600 rounded-lg text-white text-lg">
              
                <div id="total-amount" class="text-lg font-semibold text-gray-800">
                    <span>Total: </span>
                   <span id="total-price"><%= totalAmount.toFixed(2) %></span>
                </div>
                <div id="total-amount" class="text-lg font-semibold text-gray-800">
                    <span>Products: </span>
                   <span id="total-price"><%= cartTitles %></span>
                </div>

              
            </div>
        </div>
        <section id="featured-products" class="py-16 bg-white">
            <div class="container mx-auto text-center">
                <h2 class="text-3xl font-bold mb-8 text-gray-800">PRODUCTS</h2>
                
                
                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8" id="cart">
                        <% user.cart.forEach(function(item){ %>
                            <div class="bg-gray-100 p-4 rounded-lg shadow-lg ">
                            <img src="<%= item.image %>" alt="Product 1" class="w-full h-48 object-cover rounded-md mb-4">
                            <h3 class="text-xl font-semibold text-gray-800"> <%= item.title %></h3>
                            <p class="text-gray-600 mt-2"> <%=item.description %></p>
                            
                            <p class="text-lg font-semibold text-gray-800 mt-2"> <%= item.price %></p> 
                            <a href="/remove-from-cart/<%= item._id %>"
                                class="mt-4 inline-block px-6 py-2 bg-green-600 hover:bg-green-700 text-white rounded-lg product-1">Remove from Cart</a>
                        </div>
                        <% }) %>
                       
                       
                    
                    </div>
                    <br> <br><br> 
                    
                        <a href="/checkout" class="bg-blue-600 text-white py-2 px-6 rounded-lg hover:bg-blue-700">
                            Buy Now 
                        </a>
            </div>
        </section>
       
      
       
    </div>


    <div class="container mx-auto text-center">
        <h2 class="text-3xl font-bold mb-8 text-gray-800">MY ORDER</h2>
        
        
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8" id="cart">
                <% users.order.forEach(function(item){ %>
                    <div class="bg-gray-100 p-4 rounded-lg shadow-lg ">
                    <img src="<%= item.image %>" alt="Product 1" class="w-full h-48 object-cover rounded-md mb-4">
                    <h3 class="text-xl font-semibold text-gray-800"> <%= item.title %></h3>
                    <p class="text-gray-600 mt-2"> <%=item.description %></p>
                    
                    <p class="text-lg font-semibold text-gray-800 mt-2"> <%= item.price %></p> 
                  
                </div>
                <% }) %>
               
               
            
            </div>
            
    </div>
</section>

 

<%- include("./includes/footer.ejs") %>
<script src="/javascript/script.js"></script>
</body>
</html>
